* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
}



/****** TEXT ******/
h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem 0 1.2rem 0;
}

.title {
  visibility: hidden;
}

p {
  font-weight: 300;
}

span {
  font-weight: 400;
  margin-bottom: 0;
}

#actualWord {
  margin-top: 1.6rem;
  font-size: 2rem;
}

.right-word {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 1rem;
}

.score {
  margin: 2.4rem 6rem;
  padding: 1rem 1.4rem;
  border: 1px solid black;
}

.ph {
  font-size: 2rem;
}




/****** GAME BOARD ******/
#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 1px solid rgb(224, 224, 224);
  margin: 2px;
  padding: 3px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3.25rem;
  width: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  display: flex;
  padding: 2rem;
  width: 100%;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  display: flex;
  flex-shrink: 2;
  color:black;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 700;
  margin: 0 2px;
  width: 42px;
  height: 58px;
  text-transform: uppercase;
  border: 1px solid black;
  background-color: white;
}

.del {
  width: 48px;
}

.enter {
  width: 66px;
}

.score-timer-container {
  margin: 0 auto;
  display: flex;
  width: 278px;
  justify-content: space-between;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.6rem;

}



/****** MODALS *******/
#lose-modal, #stats-modal {
  visibility: hidden;
}

#home, #lose-modal, #stats-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.home-content, .lose-modal-content, .stats-modal-content {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  width: 20rem;
}

.lose-modal-content > h1 {
  padding-bottom: 1rem;
}

#new-highscore {
  visibility: hidden;
}



/****** BUTTONS ******/
button {
  border: none;
  color: black;
  background: white;
  cursor: pointer;
}

.timer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer-buttons > button {
  margin: 0.5rem;
  padding: 1rem 4rem;
  border: 1px solid black;
  text-transform: uppercase;
}

.timer-buttons > button:hover {
  background: black;
  color: white;
}

.home-content > h1 {
  margin-top: -3rem;
}

.ph-toggle-left {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.home-ph-chart-bar, .ph-question {
  font-size: 3rem;
}

.lose-modal-icons {
  display: flex;
  justify-content: space-around;
}
.lose-ph-chart-bar, .ph-arrow-counter-clockwise, .ph-house-line {
  font-size: 2.4rem;
}




/****** MEDIA QUERIES ******/

@media all and (max-width: 450px) {
  /* .keyboard-button {
    width: 15vw;
  } */

  /* .win-modal-content, .lose-modal-content {
    top: 50%;
  } */
}
/* 
@media all and (max-width: 370px) {
  .keyboard-button {
    padding: 1rem 0.5rem;
  }
  .eye {
    padding: 1rem 0.75rem;
  }
  .win-modal-content, .lose-modal-content {
    top: 50%;
  }
} */